body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: calc(100% / 4 - 10px);
    padding: 8px;
    box-sizing: border-box;
    display: inline-block;
}
button#getResult {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#saveToFile {
    margin-top: 16px;
    width: 100%;
    padding: 10px;
    background: #b9b9b9;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
    display: block;
}

button#saveToFile.enabled {
    background: #28a745;
    cursor: pointer;
    display: block;
}

button#saveToFile.disabled {
    cursor: pointer;
    display: block;
}
.output {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border-radius: 4px;
}