body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button, .getResult {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background: #333;
}

button#getResultBinary{
    background: #2855a7;

    display: block;
}
button#getResultDecimal{
    background: #28a745;

    display: none;
}
button#saveButton {
    background: #28a745;
    cursor: not-allowed;
    display: none; /* Initially hidden */
}
button#saveButton.enabled {
    cursor: pointer;
    display: block; /* Show when enabled */
}
button#saveButton:hover {
    background: #218838;
}
.output {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border-radius: 4px;
}